/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
    
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
nav{
    text-align: right;
    display: inline-block;
    margin-left: 1240px;
}
nav ul li{
    display: inline-block;
    margin: 50px 20px;
}
a{
    text-decoration: none;
    font-family: Georgia;
    font-size: 35px;
    color: #FFF;
}
div{
    background-color: #1F2120;
    height: 140px;
}
@keyframes crescerBorda{ /*animacao no menu*/
    0%{width:0%;}
    5%{width:5%;}
    15%{width:15%;}
    25%{width:25%;}
    35%{width:35%;}
    45%{width:45%;}
    50%{width:50%;}
    65%{width:65%;}
    75%{width:75%;}
    85%{width:85%;}
    95%{width:95%;}
    100% {width:100%;}
}
.sobre:hover, .produtos:hover, .portfolio:hover, .contato:hover{ 
    border-bottom: 5px solid #FFF;
    position: relative;
    animation-name: crescerBorda;
    animation-duration: 0.2s;
}
.home{
    background-image: url(../image/bg-intro.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 70px;
    height: 100%;
    width: 100%;
}
.logo{
    position: absolute;
    width: 250px;
    left: 30px;
    top: 25px;
}
.title{
    text-transform: uppercase;
    text-align: center;
    font-family: Georgia;
    font-weight: bold;
    font-size: 90px;
    color: #FFF;
    position: absolute;
    top: 365px;
    left: 0px;
    right: 0px;
    
}
.borda{ /*traço abaixo do titulo*/
    border-bottom: 8px solid #FFF;
    width: 38px;
    position: absolute;
    top: 570px;
    left: 950px; 
}
.subtitle{
    font-weight: bold;
    font-family: serif;
    font-size: 40px;
    font-style: italic;
    color: #FFF;
    position: absolute;
    top: 640px;
    left: 660px;
}
.mix{ /*"Uma mistura de"*/
    color: #171616;
    font-size: 70px;
    font-family: Georgia;
    font-weight: bold;
    position: absolute;
    top: 1200px;
    left: 665px;
}
.img1{
    position: absolute;
    width: 600px;
    top: 1400px;
    left: 350px;
}

.love{
    font-size: 40px;
    font-family: Georgia;
    font-style: italic;
    position: absolute;
    top: 1625px;
    left: 350px;
    background-color: #171616;
    color: #FFF;
    height: 60px;
    width: 460px;
    text-align: center;
    padding: 5px 5px;
}
.img2{
    position: absolute;
    width: 600px;
    top: 1400px;
    left: 970px;
}
.perfect{
    font-size: 40px;
    font-family: Georgia;
    font-style: italic;
    position: absolute;
    top: 1625px;
    left: 970px;
    background-color: #171616;
    color: #FFF;
    height: 60px;
    width: 460px;
    text-align: center;
    padding: 5px 5px;
}
.text1{
    color: #171616;
    font-style: italic;
    font-family: Georgia;
    font-size: 35px;
    position: absolute;
    top: 1750px;
    text-align: center;
    left: 500px;
    width: 870px;
}
.div3{
    border-top: 8px solid #d8d4c0;
    border-bottom: 8px solid #d8d4c0;
    background-color: #E8E6DA;
    position: absolute;
    top: 2080px;
    width: 1920px;
    height: 945px;
}
.bPaulista{ /*bola*/
    position: absolute;
    top: 180px;
    left: 200px;
    height: 200px;
    width: 200px;
    border-radius: 200px;
    background-color: #622A09;
    border: 10px solid #d8d4c0;
    -webkit-box-shadow: 1px 1px 0px 10px #622A09; 
    box-shadow: 1px 1px 0px 10px #622A09;
}
.bCarioca{ /*bola*/
    position: absolute;
    top: 180px;
    left: 850px;
    height: 200px;
    width: 200px;
    border-radius: 200px;
    background-color: 	#DF6F30;
    border: 10px solid #d8d4c0;
    -webkit-box-shadow: 1px 1px 0px 10px #DF6F30; 
    box-shadow: 1px 1px 0px 10px #DF6F30;
}
.bMineiro{ /*Bola*/
    position: absolute;
    top: 180px;
    right: 200px;   
    height: 200px;
    width: 200px;
    border-radius: 200px;
    background-color: #E7A23F;
    border: 10px solid #d8d4c0;
    -webkit-
    box-shadow: 1px 1px 0px 10px #E7A23F; 
    box-shadow: 1px 1px 0px 10px #E7A23F;
}
.tPaulista{ /*Bola*/
    color: #171616;
    font-size: 70px;
    font-family: Georgia;
    font-weight: bold;
    position: absolute;
    top: 450px;
    left: 170px;
}
.tCarioca{ /*Bola*/
    color: #171616;
    font-size: 70px;
    font-family: Georgia;
    font-weight: bold;
    position: absolute;
    top: 450px;
    left: 820px;
}
.tMineiro{
    color: #171616;
    font-size: 70px;
    font-family: Georgia;
    font-weight: bold;
    position: absolute;
    top: 450px;
    right: 170px;
}
.text2{
    color: #171616;
    text-align: left;
    font-size: 27px;
    font-family: Georgia;
    position: absolute;
    left: 35px;
    top: 560px;
    width: 550px;
}
.text3{
    color: #171616;
    text-align: left;
    font-size: 27px;
    font-family: Georgia;
    position: absolute;
    left: 680px;
    top: 560px;
    width: 550px;
}
.text4{
    color: #171616;
    text-align: left;
    font-size: 27px;
    font-family: Georgia;
    position: absolute;
    left: 1330px;   
    top: 560px;
    width: 550px;
}
.buttom{ /*Botao saiba mais*/
    position: absolute;
    left: 820px;
    top: 708px;
    width: 270px;
    height: 80px;
    background-color: #E8E6DA;
    border: 5px solid #000;
}

.bSM{ /*Botão Saiba Mais - link*/
    text-decoration: none;
    color: #000;
}

.SM{ /*Botão Saiba Mais */
    position: absolute;
    left: 38px;
    top: 25px;
    font-size: 29px;
    text-transform: uppercase;
    font-weight: bold;
    
}
.buttom:hover, .bSM:hover{
    background-color: #000;
    color: #FFF;
}
.botafogo{
    position: absolute;
    top: 3150px;
    left: 50px;
    width: 900px;
}
.tBotafogo{
    color: #171616;
    position: absolute;
    top: 3150px; 
    left: 1000px;
    font-size: 70px;
    font-family: Georgia;
    font-weight: bold;
}
.text5{
    position: absolute;
    top: 3280px;
    left: 1000px;
    font-size: 40px;
    font-family: Georgia;
    width: 850px;
}
.buttom2{
    position: absolute;
    left: 1000px;
    top: 3470px;
    width: 260px;
    height: 80px;
    background-color: #FFF;
    border: 6px solid #000;
}
.bVM2{  
    color: #171616;
    font-family: Georgia;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
}
.VM2{
    position: absolute;
    top: 25px;
    left: 35px;
}
.buttom2:hover, .bVM2:hover{
    background-color: #000;
    color: #FFF;
}
.iguatemi{
    position: absolute;
    top: 3790px;
    left: 50px;
    width: 900px;
}
.tIguatemi{
    color: #171616;
    position: absolute;
    top: 3790px;
    left: 1000px;
    font-size: 70px;
    font-family: Georgia;
    font-weight: bold;
}
.text6{
    position: absolute;
    top: 3920px;
    left: 1000px;
    font-size: 40px;
    font-family: Georgia;
    width: 850px;
}
.buttom3{
    position: absolute;
    left: 1000px;
    top: 4110px;
    width: 260px;
    height: 80px;
    background-color: #FFF;
    border: 6px solid #000;
}
.bVM3{
    color: #171616;
    font-family: Georgia;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
}
.VM3{
    position: absolute;
    top: 25px;
    left: 35px;
}
.buttom3:hover, .bVM3:hover{
    background-color: #000;
    color: #FFF;
}
.mineirao{
    position: absolute;
    top: 4430px;
    left: 50px;
    width: 900px;
}
.tMineirao{
    color: #171616;
    position: absolute;
    top: 4430px;
    left: 1000px;
    font-size: 70px;
    font-family: Georgia;
    font-weight: bold;
}
.text7{
    position: absolute;
    top: 4560px;
    left: 1000px;
    font-size: 40px;
    font-family: Georgia;
    width: 850px;
}
.buttom4{
    position: absolute;
    left: 1000px;
    top: 4750px;
    width: 260px;
    height: 80px;
    background-color: #FFF;
    border: 6px solid #000; 
}
.bVM4{
    color: #171616;
    font-family: Georgia;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
}
.VM4{
    position: absolute;
    top: 25px;
    left: 35px;
}
.buttom4:hover, .bVM4:hover{
    background-color: #000;
    color: #FFF;
}
.sign{
    position: absolute;
    top: 5050px;
    width: 1920px;
    height: 270px;
    background-color: #E8E6D7;
}
.tSign{
    font-family: Georgia;
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    top: 60px;
    left: 80px;
    color: #1C1814;
}
.tSign2{
    font-family: Georgia;
    font-size: 40px;
    font-style: italic;
    position: absolute;
    top: 150px;
    left: 80px;
    color: #1C1814;
}
.inputBox{
    position: absolute;
    top: 70px;
    left: 1000px;
    height: 100px;
    width: 600px;
    border: 6px solid #1C1814;
    background-color: #E8E6D7;
    font-family: Georgia;
    font-size: 50px;
    font-style: italic;
}
.bottom5{
    position: absolute;
    top: 5120px;
    left: 1600px;
    height: 115px;
    width: 240px;
    background-color: #1C1814;
}
.botEnviar{
    font-size: 50px;
    color: #E8E6D7FF;
    text-transform: uppercase;
    position: absolute;
    top: 30px;
    left: 20px;
}
footer{
    position: absolute;
    top: 5320px;
    background-color: #D8D4C8;
    width: 1920px;
    height: 270px;
}
.text8{
    font-family: Georgia;
    font-size: 35px;
    color: #1C1814;
    position: absolute;
    top: 85px;
    left: 20px;
}
.text9{
    font-family: Georgia;
    font-size: 35px;
    color: #1C1814;
    position: absolute;
    top: 135px;
    left: 20px;
}
.brafe2{
    position: absolute;
    left: 1640px;
    top: 100px;
    width: 250px;
}