/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
    
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.head{
    padding: 20px;
    background-color: #1F2120;
}
.logo{
    width: 10%;
    float: left;
    padding-left: 15%;
}
.menu-item{
    width: 75%;
}
.menu-item ul{
    float: right;
    list-style: none;
}
.menu{
    overflow: hidden;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a   
{
    display: inline-block;
    padding: 10px 15px 0px;;
    text-decoration: none;
    color: #FFF;
    font-family: Georgia;
    font-size: 20px;
}

@keyframes crescerBorda{ /*animacao no menu*/
    0%{width:0%;}
    5%{width:5%;}
    15%{width:15%;}
    25%{width:25%;}
    35%{width:35%;}
    45%{width:45%;}
    50%{width:50%;}
    65%{width:65%;}
    75%{width:75%;}
    85%{width:85%;}
    95%{width:95%;}
    100% {width:100%;}
}
.sobre:hover, .produtos:hover, .portfolio:hover, .contato:hover{ 
    border-bottom: 5px solid #FFF;
    position: relative;
    animation-name: crescerBorda;
    animation-duration: 0.2s;
}
.home{
    background-image: url(../image/bg-intro.jpg);
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.title{
    text-transform: uppercase;
    text-align: center;
    font-family: Georgia;
    font-weight: bold;
    font-size: 50px;
    color: #FFF;
    position: absolute;
    top: 130px;
    left: 0px;
    right: 0px;
    
}
.traco{ /*traço abaixo do titulo*/
    border: 3px solid #FFF;
    border-right: 20px solid #FFF;
    position: relative;
    top: 230px;
    width: 20px;
}
.subtitle{
    font-family: serif;
    font-size: 18px;
    font-style: italic;
    color: #FFF;
    position: relative;
    width: 100%;
    text-align: center;
    top: 240px;
}
.mix{ /*"Uma mistura de"*/
    color: #171616;
    font-size: 38px;
    font-family: Georgia;
    font-weight: bold;
    position: absolute;
    top: 590px;
    left: 525px;
}
.img1{
    position: absolute;
    top: 700px;
    left: 200px;
}

.love{
    font-size: 30px;
    font-family: Georgia;
    font-style: italic;
    position: absolute;
    top: 880px;
    left: 200px;
    background-color: #171616;
    color: #FFF;
    height: 40px;
    width: 190px;
    text-align: center;
    padding: 5px 5px;
}
.img2{
    position: absolute;
    top: 700px;
    left: 689px;
}
.perfect{
    font-size: 30px;
    font-family: Georgia;
    font-style: italic;
    position: absolute;
    top: 880px;
    left: 689px;
    background-color: #171616;
    color: #FFF;
    height: 40px;
    width: 190px;
    text-align: center;
    padding: 5px 5px;
}
.text1{
    color: #171616;
    font-style: italic;
    font-family: Georgia;
    font-size: 15px;
    position: absolute;
    top: 970px;
    text-align: center;
    left: 500px;
    width: 310px;
}
.div3{
    border-top: 3px solid #d8d4c0;
    border-bottom: 3px solid #d8d4c0;
    background-color: #E8E6DA;
    position: absolute;
    left: 0px;
    top: 1150px;
    width: 100%;
    height: 490px;
}
.bPaulista{ /*bola*/
    position: absolute;
    top: 60px;
    left: 313px;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: #622A09;
    border: 5px solid #d8d4c0;
    -webkit-box-shadow: 1px 1px 0px 10px #622A09; 
    box-shadow: 1px 1px 0px 10px #622A09;
}
.bCarioca{ /*bola*/
    position: absolute;
    top: 60px;
    left: 610px;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: 	#DF6F30;
    border: 5px solid #d8d4c0;
    -webkit-box-shadow: 1px 1px 0px 10px #DF6F30; 
    box-shadow: 1px 1px 0px 10px #DF6F30;
}
.bMineiro{ /*bola*/
    position: absolute;
    top: 60px;
    right: 310px;   
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: #E7A23F;
    border: 5px solid #d8d4c0;
    -webkit-box-shadow: 1px 1px 0px 10px #E7A23F; 
    box-shadow: 1px 1px 0px 10px #E7A23F;
}

.tPaulista{
    color: #171616;
    font-size: 30px;
    font-family: Georgia;
    font-weight: bold;
    position: absolute;
    top: 220px;
    left: 310px;
}
.tCarioca{
    color: #171616;
    font-size: 30px;
    font-family: Georgia;
    font-weight: bold;
    position: absolute;
    top: 220px;
    right: 310px;
}
.tMineiro{
    color: #171616;
    font-size: 30px;
    font-family: Georgia;
    font-weight: bold;
    position: absolute;
    top: 220px;
    right: 620px;
}
.text2{
    text-align: left;
    color: #171616;
    font-size: 13px;
    font-family: Georgia;
    position: absolute;
    left: 240px;
    top: 270px;
    width: 280px;
}
.text3{
    text-align: left;
    color: #171616;
    font-size: 13px;
    font-family: Georgia;
    position: absolute;
    right: 220px;
    top: 270px;
    width: 280px;
}
.text4{
    text-align: left;
    color: #171616;
    font-size: 13px;
    font-family: Georgia;
    position: absolute;
    left: 545px;
    top: 270px;
    width: 280px;
}
.buttom{ /*Botao saiba mais*/
    position: absolute;
    left: 590px;
    top: 370px;
    width: 150px;
    height: 55px;
    background-color: #E8E6DA;
    border: 3px solid #000;
}

.bSM{ /*Botão Saiba Mais - link*/
    text-decoration: none;
    color: #000;
}

.SM{ /*Botão Saiba Mais */
    position: absolute;
    left: 10px;
    top: 17px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    
}
.buttom:hover, .bSM:hover{
    background-color: #000;
    color: #FFF;
}
.botafogo{
    position: absolute;
    top: 1720px;
    left: 200px;
}
.tBotafogo{
    color: #171616;
    position: absolute;
    top: 1720px; 
    left: 680px;
    font-size: 40px;
    font-family: Georgia;
    font-weight: bold;
}
.text5{
    color: #171616;
    position: absolute;
    top: 1800px;
    left: 680px;
    font-size: 18px;
    font-family: Georgia;
    width: 350px;
}
.buttom2{
    position: absolute;
    left: 680px;
    top: 1870px;
    width: 140px;
    height: 35px;
    background-color: #FFF;
    border: 3px solid #000;
}
.bVM2{
    color: #000;
    font-family: Georgia;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 0px;
}
.VM2{
    position: absolute;
    top: 10px;
    left: 19px;
}
.buttom2:hover, .bVM2:hover{
    background-color: #000;
    color: #FFF;
}
.iguatemi{
    position: absolute;
    top: 2050px;
    left: 200px;
}
.tIguatemi{
    color: #171616;
    position: absolute;
    top: 2050px; 
    left: 680px;
    font-size: 40px;
    font-family: Georgia;
    font-weight: bold;
}
.text6{
    color: #171616;
    position: absolute;
    top: 2130px;
    left: 680px;
    font-size: 18px;
    font-family: Georgia;
    width: 350px;
}
.buttom3{
    position: absolute;
    left: 680px;
    top: 2200px;
    width: 140px;
    height: 35px;
    background-color: #FFF;
    border: 3px solid #000;
}
.bVM3{
    color: #000;
    font-family: Georgia;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 0px;
}
.VM3{
    position: absolute;
    top: 10px;
    left: 19px;
}
.buttom3:hover, .bVM3:hover{
    background-color: #000;
    color: #FFF;
}
.mineirao{
    position: absolute;
    top: 2380px;
    left: 200px;
}
.tMineirao{
    color: #171616;
    position: absolute;
    top: 2380px; 
    left: 680px;
    font-size: 40px;
    font-family: Georgia;
    font-weight: bold;
}
.text7{
    color: #171616;
    position: absolute;
    top: 2460px;
    left: 680px;
    font-size: 18px;
    font-family: Georgia;
    width: 350px;
}
.buttom4{
    position: absolute;
    left: 680px;
    top: 2530px;
    width: 140px;
    height: 35px;
    background-color: #FFF;
    border: 3px solid #000;
}
.bVM4{
    color: #000;
    font-family: Georgia;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 0px;
}
.VM4{
    position: absolute;
    top: 10px;
    left: 19px;
}

.buttom4:hover, .bVM4:hover{
    background-color: #000;
    color: #FFF;
}
.sign{
    position: absolute;
    top: 2730px;
    width: 1349px;
    height: 160px;
    background-color: #E8E6D7;
}
.tSign{
    font-family: Georgia;
    font-size: 37px;
    font-weight: bold;
    position: absolute;
    top: 40px;
    left: 200px;
    color: #1C1814;
}
.tSign2{
    font-family: Georgia;
    font-size: 25px;
    font-style: italic;
    position: absolute;
    top: 90px;
    left: 200px;
    color: #1C1814;
}
.inputBox{
    position: absolute;
    top: 45px;
    left: 680px;
    height: 45px;
    border: 3px solid #1C1814;
    background-color: #E8E6D7;
    font-family: Georgia;
    font-size: 25px;
    font-style: italic;
}
.bottom5{
    position: absolute;
    top: 2775px;
    left: 968px;
    height: 47px;
    width: 140px;
    background-color: #1C1814;
    border: 3px solid #1C1814;
}
.botEnviar{
    font-size: 25px;
    color:#E8E6D7;
    text-transform: uppercase;
    position: absolute;
    top: 13px;
    left: 20px;
}
footer{
    position: absolute;
    top: 2890px;
    background-color: #D8D4C8;
    width: 1349px;
    height: 160px;
}
.text8{
    font-family: Georgia;
    font-size: 18px;
    color: #1C1814;
    position: absolute;
    top: 55px;
    left: 200px;
}
.text9{
    font-family: Georgia;
    font-size: 18px;
    color: #1C1814;
    position: absolute;
    top: 80px;
    left: 200px;
}
.brafe2{
    position: absolute;
    left: 970px;
    top: 55px;
}