    /* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
        
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    nav{
        display: inline-block;
        margin-left: 0px;
    }
    .head{
        width: 650px; /*----------------------------------------------------*/
        margin:0 auto;			
        padding: 10px;
        text-align:left
    }
    nav ul li{
        display: inline-block;
        margin: auto;
        position: relative;
        padding: 10px;
        left: 120px;
        top: 40px;
    }
    a{
        text-decoration: none;
        font-family: Georgia;
        font-size: 15px;
        color: #FFF;
    }
    div{
        background-color: #1F2120;
        height: 100px;
    }
    @keyframes crescerBorda{ /*animacao no menu*/
        0%{width:0%;}
        5%{width:5%;}
        15%{width:15%;}
        25%{width:25%;}
        35%{width:35%;}
        45%{width:45%;}
        50%{width:50%;}
        65%{width:65%;}
        75%{width:75%;}
        85%{width:85%;}
        95%{width:95%;}
        100% {width:100%;}
    }
    .sobre:hover, .produtos:hover, .portfolio:hover, .contato:hover{ 
        border-bottom: 5px solid #FFF;
        position: relative;
        animation-name: crescerBorda;
        animation-duration: 0.2s;
    }
    .home{
        background-image: url(image/bg-intro.jpg);
        background-size: 800px 300px;
        background-position: center auto;
        background-repeat: no-repeat;
        position: absolute;
        top: 100px;
        right: 0px;
        height: 700px;
        width: 700px;
    }
    .logo{
        position: absolute;
        left: 220px;
        top: 10px;
        margin: auto;
        width: 100px;
    }
    .title{
        text-transform: uppercase;
        text-align: center;
        font-family: Georgia;
        font-weight: bold;
        font-size: 40px;
        color: #FFF;
        position: relative;
        top: 80px;
        left: 60px;
        right: 0px;
        
    }
    .borda{ /*traço abaixo do titulo*/
        border-bottom: 4px solid #FFF;
        width: 25px;
        position: absolute;
        top: 180px;
        left: 390px; 
    }
    .subtitle{
        font-family: serif;
        font-size: 18px;
        font-style: italic;
        color: #FFF;
        position: absolute;
        top: 200px;
        left: 280px;
    }
    .mix{ /*"Uma mistura de"*/
        color: #171616;
        font-size: 30px;
        font-family: Georgia;
        font-weight: bold;
        position: absolute;
        top: 450px;
        left: 180px;
    }
    .img1{
        width: 300px;
        position: absolute;
        top: 540px;
        left: 155px;
    }

    .love{
        font-size: 30px;
        font-family: Georgia;
        font-style: italic;
        position: absolute;
        top: 647px;
        left: 204px;
        background-color: #171616;
        color: #FFF;
        height: 40px;
        width: 190px;
        text-align: center;
        padding: 5px 5px;
    }
    .img2{
        width: 300px;
        position: absolute;
        top: 750px;
        left: 155px;
    }
    .perfect{
        font-size: 30px;
        font-family: Georgia;
        font-style: italic;
        position: absolute;
        top: 855px;
        left: 204px;
        background-color: #171616;
        color: #FFF;
        height: 40px;
        width: 190px;
        text-align: center;
        padding: 5px 5px;
    }
    .text1{
        color: #171616;
        font-style: italic;
        font-family: Georgia;
        font-size: 15px;
        position: absolute;
        top: 970px;
        text-align: center;
        left: 180px;
        width: 250px;
    }
    .div3{
        border-top: 3px solid #d8d4c0;
        border-bottom: 3px solid #d8d4c0;
        background-color: #E8E6DA;
        position: absolute;
        top: 1150px;
        width: 650px;
        height: 1150px;
    }
    .bPaulista{ /*bola*/
        position: absolute;
        top: 80px;
        left: 255px;
        height: 100px;
        width: 100px;
        border-radius: 100px;
        background-color: #622A09;
        border: 8px solid #d8d4c0;
        -webkit-box-shadow: 1px 1px 0px 10px #622A09; 
        box-shadow: 1px 1px 0px 10px #622A09;
    }
    .bCarioca{ /*bola*/
        position: absolute;
        top: 400px;
        left: 255px;
        height: 100px;
        width: 100px;
        border-radius: 100px;
        background-color: 	#DF6F30;
        border: 8px solid #d8d4c0;
        -webkit-box-shadow: 1px 1px 0px 10px #DF6F30; 
        box-shadow: 1px 1px 0px 10px #DF6F30;
    }
    .bMineiro{ /*bola*/
        position: absolute;
        top: 720px;
        left: 255px;
        height: 100px;
        width: 100px;
        border-radius: 100px;
        background-color: #E7A23F;
        border: 8px solid #d8d4c0;
        -webkit-box-shadow: 1px 1px 0px 10px #E7A23F; 
        box-shadow: 1px 1px 0px 10px #E7A23F;
    }

    .tPaulista{
        color: #171616;
        font-size: 30px;
        font-family: Georgia;
        font-weight: bold;
        position: absolute;
        top: 230px;
        left: 250px;
    }
    .tCarioca{
        color: #171616;
        font-size: 30px;
        font-family: Georgia;
        font-weight: bold;
        position: absolute;
        top: 550px;
        left: 250px;
    }
    .tMineiro{
        color: #171616;
        font-size: 30px;
        font-family: Georgia;
        font-weight: bold;
        position: absolute;
        top: 870px;
        left: 250px;
    }
    .text2{
        text-align: left;
        color: #171616;
        font-size: 13px;
        font-family: Georgia;
        position: absolute;
        left: 220px;
        top: 280px;
        width: 175px;
    }
    .text3{
        text-align: left;
        color: #171616;
        font-size: 13px;
        font-family: Georgia;
        position: absolute;
        left: 220px;
        top: 600px;
        width: 175px;
    }
    .text4{
        text-align: left;
        color: #171616;
        font-size: 13px;
        font-family: Georgia;
        position: absolute;
        left: 220px;
        top: 920px;
        width: 175px;
    }
    .buttom{ /*Botao saiba mais*/
        position: absolute;
        left: 230px;
        top: 1040px;
        width: 150px;
        height: 55px;
        background-color: #E8E6DA;
        border: 3px solid #000;
    }

    .bSM{ /*Botão Saiba Mais - link*/
        text-decoration: none;
        color: #000;
    }

    .SM{ /*Botão Saiba Mais */
        position: absolute;
        left: 10px;
        top: 15px;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        
    }
    .buttom:hover, .bSM:hover{
        background-color: #000;
        color: #FFF;
    }
    .botafogo{
        position: absolute;
        top: 2360px;
        left: 170px;
        width: 280px;
    }
    .tBotafogo{
        color: #171616;
        position: absolute;
        top: 2530px; 
        left: 170px;
        font-size: 35px;
        font-family: Georgia;
        font-weight: bold;
    }
    .text5{
        color: #171616;
        position: absolute;
        top: 2580px;
        left: 170px;
        font-size: 18px;
        font-family: Georgia;
        width: 300px;
    }
    .buttom2{
        position: absolute;
        left: 170px;
        top: 2670px;
        width: 140px;
        height: 35px;
        background-color: #FFF;
        border: 3px solid #000;
    }
    .bVM2{
        color: #000;
        font-family: Georgia;
        font-size: 17px;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 10px;
    }
    .VM2{
        position: absolute;
        top: 10px;
        left: 19px;
    }
    .buttom2:hover, .bVM2:hover{
        background-color: #000;
        color: #FFF;
    }
    .iguatemi{
        position: absolute;
        top: 2770px;
        left: 170px;
        width: 280px;
    }
    .tIguatemi{
        color: #171616;
        position: absolute;
        top: 2940px; 
        left: 170px;
        font-size: 35px;
        font-family: Georgia;
        font-weight: bold;
    }
    .text6{
        color: #171616;
        position: absolute;
        top: 2990px;
        left: 170px;
        font-size: 18px;
        font-family: Georgia;
        width: 300px;
    }
    .buttom3{
        position: absolute;
        left: 170px;
        top: 3080px;
        width: 140px;
        height: 35px;
        background-color: #FFF;
        border: 3px solid #000;
    }
    .bVM3{
        color: #000;
        font-family: Georgia;
        font-size: 17px;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 10px;
    }
    .VM3{
        position: absolute;
        top: 10px;
        left: 19px;
    }
    .buttom3:hover, .bVM3:hover{
        background-color: #000;
        color: #FFF;
    }
    .mineirao{
        position: absolute;
        top: 3180px;
        left: 170px;
        width: 280px;
    }
    .tMineirao{
        color: #171616;
        position: absolute;
        top: 3350px;
        left: 170px;
        font-size: 35px;
        font-family: Georgia;
        font-weight: bold;
    }
    .text7{
        color: #171616;
        position: absolute;
        top: 3400px;
        left: 170px;
        font-size: 18px;
        font-family: Georgia;
        width: 300px;
    }
    .buttom4{
        position: absolute;
        left: 170px;
        top: 3490px;
        width: 140px;
        height: 35px;
        background-color: #FFF;
        border: 3px solid #000;
    }
    .bVM4{
        color: #000;
        font-family: Georgia;
        font-size: 17px;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 10px;
    }
    .VM4{
        position: absolute;
        top: 10px;
        left: 19px;
    }
    .buttom4:hover, .bVM4:hover{
        background-color: #000;
        color: #FFF;
    }
    .sign{
        position: absolute;
        top: 3600px;
        width: 650px;
        height: 340px;
        background-color: #E8E6D7;
    }
    .tSign{
        font-family: Georgia;
        font-size: 37px;
        font-weight: bold;
        position: absolute;
        top: 40px;
        left: 170px;
        color: #1C1814;
        width: 300px;
    }
    .tSign2{
        font-family: Georgia;
        font-size: 20px;
        font-style: italic;
        position: absolute;
        top: 120px;
        left: 170px;
        color: #1C1814;
        width: 200px;
    }
    .inputBox{
        position: absolute;
        top: 180px;
        left: 170px;
        height: 45px;
        width: 300px;
        border: 3px solid #1C1814;
        background-color: #E8E6D7;
        font-family: Georgia;
        font-size: 25px;
        font-style: italic;
    }
    .bottom5{
        position: absolute;
        top: 3830px;
        left: 170px;
        height: 53px;
        width: 115px;
        background-color: #1C1814;
    }
    .botEnviar{
        font-size: 23px;
        color: #E8E6D7;
        text-transform: uppercase;
        position: absolute;
        top: 15px;
        left: 13px;
    }
    footer{
        position: absolute;
        top: 3940px;
        background-color: #D8D4C8;
        width: 650px;
        height: 230px;
    }
    .text8{
        font-family: Georgia;
        font-size: 16px;
        color: #1C1814;
        position: absolute;
        top: 50px;
        left: 170px;
        width: 300px;
    }
    .text9{
        font-family: Georgia;
        font-size: 16px;
        color: #1C1814;
        position: absolute;
        top: 85px;
        left: 170px;
        width: 300px;
    }
    .brafe2{
        position: absolute;
        left: 190px;
        top: 150px;
        width: 120px;
    }